# Ignorar archivos de entorno
.env

# Ignorar dependencias instaladas
node_modules/

# Ignorar logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorar directorios de salida de compiladores o bundlers
dist/
build/

.env

# Ignorar archivos del editor
.vscode/
.idea/
*.swp

# Ignorar archivos del sistema
.DS_Store
Thumbs.db
